body{
  background-color: #20639B;
}
.App {
  background-color: #173F5F;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}

#todo-form input{
  background-color: beige;
  border:0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: grey;
  outline: none;
}

#todo-from input::placeholder{
  color:grey;
}

#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: #3CAEA3;
  border: 0;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}