.list{
    color:white;
    width: 300px;
    height: 50px;
    background-color: #20639b;
    margin: 20px auto;
    border-radius: 3px;
}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-weight: bolder;
    margin: 0 5px;
    font-size: 15px;
}
.list p input {
    background-color: transparent;
    border: 0;
    color:white;
    font-size: 18px;
    outline: none;
}